Levenshtein
git+https://github.com/moravianlibrary/kramerius-client.git
git+https://github.com/moravianlibrary/marcdantic.git
git+https://github.com/moravianlibrary/rdcz-client.git
git+https://github.com/moravianlibrary/solrify.git
numpy
pydantic
requests
scipy